<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="icon" href="">
    <title>Old Miniatures</title>
    <script src="../js/about.js"></script>
</head>
<body>
    
    <header>
        <h1>Информация об авторе</h1>   
    </header>

    <main>

        <nav class="main-nav">
            <a id="main-nav-first-link-home-page" href="index.html" >Главная страница</a>
            <span>></span>
            <a style="text-decoration: underline rgb(88, 88, 88); color: rgb(70, 70, 70);">Об авторе</a>
            
        </nav>
        <div class="next" style="animation: startAnimationNavigation1 2000ms normal;">


            <p style="color: rgb(35, 35, 35); "><i>*Все работы выполняет и обрабатывает небольшая группа людей. Мы принимаем заказы на столько быстро, на сколько можем. Данный сайт разработан в целях взаимодействия потребителя и поставщика услуг. Все заказы обговариваются напрямую с работниками</i>. </p>
        </div>
        
        <div class="next" style="animation: startAnimationNavigation1 2500ms normal;">
            <div class="next-1">
                <h1 style="text-align: center;">Кто входит в наш состав?</h1>
                <ul style="padding-top: 30px; margin-left: 25%; line-height: 40PX; font-size: larger;">
                    <li>
                        <b>Художник-моделист</b>, который собственноручно работает с заказом
                    </li>
                    <li>
                        <b>Упаковщики</b>, которые сохраняют качество товара и обеспечивают аккуратную доставку
                    </li>
                    <li>
                    <b>Поддержка</b>, которая всегда на связи и поможет вам в любой момент связаться с мастером
                    </li>
                </ul>
            </div>
        </div>
        <div class="next" style="text-align: center; opacity: 0.1; user-select: none; animation: startAnimationNavigation1 3000ms normal;">
            <img src="../static/img/el1.jpg" width="200px" style="border-radius: 15px; margin-right: 35px; pointer-events: none; user-select: none;">
            <img src="../static/img/el2.jpg" width="200px" style="border-radius: 15px; margin-right: 35px; pointer-events: none; user-select: none;">
            <img src="../static/img/el3.jpg" width="200px" style="border-radius: 15px; margin-right: 35px; pointer-events: none; user-select: none;">
            <img src="../static/img/el4.jpg" width="200px" style="border-radius: 15px; margin-right: 35px; pointer-events: none; user-select: none;">
            <img src="../static/img/el5.jpg" width="200px" style="border-radius: 15px; margin-right: 35px; pointer-events: none; user-select: none;">
        </div>
        <div class="next" style="text-align: center; opacity: 0.1; height: 204px; background-color: rgba(0, 0, 0, 0.5); animation: startAnimationNavigation1 3500ms normal;">
            <hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br>
        </div>
        
        <div class="next" style="animation: OpAnimation1 4s normal;  margin-bottom: 300px;">
            <h1 style="text-align: center; padding-bottom: 22px; font-family: Georgia, 'Times New Roman', Times, serif;">Краткое описание о себе</h1>
            <p style="font-size: 20px; line-height: 29px;">Я — деятель искусств, окончивший профессиональные учебные заведение. Я давно работаю в этой сфере и имею очень большой опыт работы с миниатюрной росписью. В мою работу входит окраска 3d-модели / сборка 3d-модели / роспись миниатюры и многое др на заказ. Наша команда всегда рада воплотить ваши идеи в реальность. Наш коллектив очень дружен и сконцентрирован на работе, что является следствием положительных отзывов покупателей.</p>
            <p style="font-size: 20px; line-height: 29px; padding-top: 8px;">При заказе товара следует обсудить со мной все пожелания и условия работы, получить итоговый ответ и дождаться резульатов работы. </p>
        </div>
        <br style="user-select: none;"><br style="user-select: none;"><br style="user-select: none;"><br style="user-select: none;">
        
    </main>

    <footer>
        <nav id="fnav">
            <h2>Как с нами связаться?</h2><br>
            <a href="mailto:freespace.contact.us@gmail.com">Наша электронная почта</a>
            <p>Напишите нам, вам ответят после верефикации сообщения</p>
        </nav>
    </footer>

</body>
</html>
