<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказ росписи фигур</title>
    <link rel="stylesheet" href="../css/offers.css">
    <script src="../js/offers.js"></script>
</head>
<body>

    <div class="start">
        <h1>Оформление заказа работы от мастера</h1>
    </div>

    <div>
        <p>Для того чтобы оформить заказ, вам всего лишь необходимо отправить сообщение на <a href="mailto:freespace.contact.us@gmail.com">нашу почту</a></p>
    </div>

    <div>
        <p>С вами свяжутся как можно быстрее</p>
    </div>

    <div>
        <p>Вы можете ознакомиться с другими работами мастера <a href="projects.html">по ссылке</a></p>
    </div>

</body>
</html>